[2019-10-27 20:16] gatsbybot opened #1 "Translation Progress (Batch #1) - Finished"
## --------------------- ! UPDATE IMPORTANTE ! ------------------
Todos os arquivos já foram designados, futuramente abriremos novos para tradução!

## Maintainers: NUNCA mergem uma PR com somente uma aprovação!

### Revisores Oficiais
- @jessescn
- @rafaeelaudibert
- @Dennissiq
- @jay-jlm
- @iaurg
- @mjr
- @abnersajr

## -----------------------------------------------------------------

## Para o

[2019-10-28 01:37] gvarandas commented on #1
I can tackle the quick start section.

[2019-10-28 01:59] jessescn commented on #1
Of course @gvarandas, thanks :)

[2019-10-28 12:23] Italox commented on #1
Oh nice! Can I take the tutorial section?

[2019-10-28 12:50] brunoxd13 commented on #1
I can take the  docs/index, can be?

[2019-10-28 12:54] Dennissiq commented on #1
Hey guys! I caught the style guide section. ok?

[2019-10-28 12:57] Dennissiq commented on #1
Of course @brunoxd13 :)

[2019-10-28 13:18] Italox commented on #1
Of course @brunoxd13, if you have any issue post here or join us on Discord https://discord.gg/v3Fg3x

[2019-10-28 16:03] jay-jlm commented on #1
@jessescn  Olá pessoal, gostaria de ajudar na pagina da CLI . (docs/gatsby-cli.md)

[2019-10-28 16:17] jessescn commented on #1
Show de bola @jay-jlm, toda sua :)

[2019-10-28 23:32] tesseralis commented on #1
@jessescn I think we're going to remove the gatsby style guide from the list of core docs. Looking at it more it seems like it's mostly stuff that's relevant for english speakers (english grammar rules and information on writing new docs).

I think a more valuable thing would be to update this repo's [style guide](https://github.com/gatsbyjs/gatsby-pt-BR/blob/master/style-guide.md), by referencing

[2019-10-29 00:10] jessescn commented on #1
@tesseralis makes sense, i will do this

[2019-10-29 01:32] Dennissiq commented on #1
Pessoal, como o style guide não será mais traduzido, eu peguei o **tutorial/part-zero** para fazer!

[2019-10-29 03:34] jay-jlm commented on #1
@tesseralis  Are  there guidelines/best pratices for managing branches in a translation repo? Or should the PRs target the master branch directly?

[2019-10-29 04:11] tesseralis commented on #1
@jay-jlm PRs should target the master branch

[2019-10-29 12:37] jpedroschmitz commented on #1
Hey guys 👋
I can take the `tutorial/part-one` page to translate!

[2019-10-29 12:46] Italox commented on #1
@jpedroschmitz, it's yours! if you have any issue post here or in Discord. :brazil:

[2019-10-29 15:03] renanmav commented on #1
Can I take the tutorial/part-four section?

[2019-10-29 15:04] luizcieslak commented on #1
Can I take the tutorial/part-five section?

[2019-10-29 15:04] Italox commented on #1
@renanmav, of course! If you have any issue post here or on Discord. :brazil:

[2019-10-29 15:05] Italox commented on #1
@luizcieslak It's yours! :brazil:

[2019-10-29 15:09] crisgon commented on #1
Can I take the `tutorial/part-two` ?

[2019-10-29 15:15] Dennissiq commented on #1
Of course @crisgon :)

[2019-10-29 15:21] Italox commented on #1
Welcome @crisgon

[2019-10-29 15:26] gabrielferreiraa commented on #1
Can I take the `tutorial/part-six`?

[2019-10-29 15:49] ArthurFerrao commented on #1
Can I take the tutorial/part-seven?

[2019-10-29 15:54] jessescn commented on #1
@gabrielferreiraa , @gutofoletto and @ArthurFerrao, of course! feel free sending any questions in our discord channel and make sure to check out the Contributing.md to know more about the translation process.

[2019-10-29 16:07] mjr commented on #1
Can i translate `docs/glossary`?

[2019-10-29 16:22] Italox commented on #1
Welcome @mjr!

[2019-10-29 16:27] gabrielferreiraa commented on #1
@Italox edit the issue with @gabrielferreiraa @gutofoletto  e @ArthurFerrao :)

[2019-10-29 16:30] gabrielreisn commented on #1
Can i take `tutorial/part-eight` ?

[2019-10-29 16:31] Italox commented on #1
@gabrielferreiraa Oh! I forgotten. Edited. Welcome @gabrielferreiraa @gutofoletto e @ArthurFerrao :) - Join us on [Discord](https://discordapp.com/invite/v3Fg3x)

[2019-10-29 16:32] Italox commented on #1
@gabrielreisn Welcome!

[2019-10-29 16:43] LucasRuy commented on #1
E ai pessoal, tudo bem?

Gostaria de contribuir. Posso ajudar de alguma forma?

[2019-10-29 16:46] Italox commented on #1
@LucasRuy , tudo certo e você Lucas? Pode sim, temos uma última página precisando de alguem para traduzi-la `docs/recipes`, se tiver interesse podemos designa-la à você.

[2019-10-29 17:01] jessescn commented on #1
Olá @lucasmoura-dev, esses arquivos listados são os principais. Pretendemos abrir novos arquivos em breve para tradução, vamos apenas alguns arquivos serem aceitos para não sobrecarregar a revisão e prezar pela qualidade, mas quando novos arquivos forem abertos podemos lhe adicionar :).

[2019-10-29 17:23] rjcjunior commented on #1
Olá, também gostaria de ajudar. Poderia me adicionar quando surgir novos arquivos?

[2019-10-29 17:25] lucasmoura-dev commented on #1
O convite do Discord não está funcionando, talvez está expirado.

[2019-10-29 18:10] Italox commented on #1
Link Discord updated: [Join us](https://discord.gg/6r9SP9)

[2019-10-29 20:35] LucasRuy commented on #1
@Italox , opa tenho interesse em ajudar na página `docs/recipes`. Podemos deixar combinado comigo contribuindo com a tradução dela então?

[2019-10-29 21:15] jessescn commented on #1
@LucasRuy pode começar os trabalhos, toda sua!

[2019-10-29 21:49] jessescn commented on #1
@mjr uma vez que o `docs/glossary`, proponho que quebremos o arquivo em dois, para que duas pessoas possam fazer ao mesmo tempo. Isso diminuiria o peso pra ti e agilizaria o trabalho, uma vez que esse arquivo é bastante importante para as outras traduções. O que achas?

[2019-10-29 21:51] LucasRuy commented on #1
@jessescn fechou!

[2019-10-29 23:00] jay-jlm commented on #1
@jessescn Poderia atualizar o estado da minha para "em revisao"? Obrigado!

[2019-10-30 00:42] jessescn opened #9 "Translation Progress (Batch #2) - Finished"
# Batch 2

### Revisores Oficiais
- @jessescn
- @rafaeelaudibert
- @Dennissiq
- @jay-jlm
- @iaurg
- @mjr
- @abnersajr

## Para os novos tradutores

Siga os passos descritos no nosso [CONTRIBUTING.md](https://github.com/gatsbyjs/gatsby-pt-BR/blob/master/CONTRIBUTING.md). **Daremos um limite de 2 SEMANAS para que cada tradução seja finalizada, no intuito de manter a tradução sempre dinâmica.**

## P

[2019-10-30 00:45] jessescn commented on #1
Avisando aqui que quem quiser contribuir e não conseguiu uma tradução, acabei de abrir uma issue nova com uma leva de arquivos a serem traduzidos :tada:

[2019-10-30 00:56] lucas-mdiniz commented on #9
Can I take why-contribute-to-gatsby?

[2019-10-30 01:02] jessescn commented on #9
Of Course! before you start translating, be sure to read the [contributing.md](https://github.com/gatsbyjs/gatsby-pt-BR/blob/master/CONTRIBUTING.md). Any question feel free to send it in [our discord](https://discordapp.com/invite/6r9SP9)!

[2019-10-30 01:07] mauriciomutte commented on #9
Can I take _community_?

[2019-10-30 01:37] jessescn commented on #9
@mauriciomutte all yours! remember to read the contributing :)

[2019-10-30 04:33] mjr commented on #1
@jessescn acho que pode ser, se ficar melhor assim, sem problemas... 👍😁

[2019-10-30 11:18] rafaeelaudibert opened #12 "Imagens com links quebrados"
Alguns dos arquivos da documentação possuem links para imagens, porém as mesmas não foram importadas para esse repositório. Seria interessante verificar nos docs já prontos (ingles, espanho, etc) se as imagens estão disponíveis, e atualizar o repositório com essas imagens.

Arquivos com imagens com links quebrados (extremely WIP, quem encontrar mais, avisar nos comentários para que possamos editar

[2019-10-30 11:25] rafaeelaudibert commented on #9
I'm taking (and auto assigning me hehe) /contributor-swag. :)

[2019-10-30 11:39] Sphinxs commented on #1
Existe alguma parte a ser traduzida?

[2019-10-30 11:46] jessescn commented on #1
Tem sim @Sphinxs, da uma olhada na outra issue aberta que tem uma lista cheia de novos arquivos para tradução :)

[2019-10-30 12:11] Italox commented on #1
Pessoal que quiser contribuir com as traduções: Nesta issue já foram requisitados todos as páginas. Temos mais páginas para tradução [nesta nova issue](https://github.com/gatsbyjs/gatsby-pt-BR/issues/9), mesmo padrão, acessa issue > escolhe sua página > comenta > traduz. Qualquer dúvida estamos ai!

[2019-10-30 13:19] emilioheinz commented on #9
I would like to translate the `how-to-file-an-issue` file ;)

[2019-10-30 13:23] jessescn commented on #9
@emilioheinz  Sure!

[2019-10-30 13:31] abnersajr commented on #9
Please, @jessescn tag me on that one `blog-and-website-contributions`

[2019-10-30 13:35] jessescn commented on #9
@abnersajr as you wish :), @abnersajr and @emilioheinz  remember both of you to read the contributing and enter the Discord channel If you have some questions!

[2019-10-30 13:37] emilioheinz commented on #9
Yes @jessescn , I'll do it!!

[2019-10-30 16:25] thiagorowof commented on #9
Can i take `how-to-run-a-gatsby-workshop` ??
(can i get more than one?)

[2019-10-30 21:48] leandrogrillo commented on #9
can i get `how-to-pitch-gatsby`? :D

[2019-10-30 22:13] jessescn commented on #9
of course @leandrogrillo ! feel free to send any questions in our discord channel, and make sure to read the contributing.md :smile:.

[2019-10-30 22:29] Dennissiq commented on #9
Hey guys! I'll take the `how-to-contribute`, ok?

[2019-10-30 22:30] jessescn commented on #9
@Dennissiq go ahead man :running_man:

[2019-10-30 23:00] cassule commented on #9
Hey guys! I would like to translate the community-contributions file.

[2019-10-30 23:26] emilioheinz commented on #9
There is a PR open to the `how-to-file-an-issue` file, I would like to start the `using-an-online-dev-environment` file.

[2019-10-30 23:29] rafaeelaudibert commented on #9
@cassule and @emilioheinz, they're all yours! :sparkles:

[2019-10-31 00:02] fmoliveira commented on #9
Can I take `setting-up-your-local-dev-environment`?

[2019-10-31 05:27] vsmjr commented on #9
Can I take _organize-a-gatsby-event_?

[2019-10-31 10:36] peaonunes commented on #9
Fiz a tradução de `gatsby-governance-model`, pois era apenas um esboço.
Gostaria de fazer a tradução de `how-to-label-an-issue`, mas tenho algumas dúvidas, especialmente em traduzir `issue` e `label` já que o Github em si não as traduz. O link do convite do discord tá expirado :( !

[2019-10-31 11:30] jessescn commented on #9
Olá @peaonunes, você pode conferir traduções como essa acessando o link do google sheets presente no contributing.md. Quando nós mergamos sua PR eu coloco seu nome na próxima tradução :smile:

[2019-10-31 11:32] jessescn commented on #9
Link novo para o [discord](https://discord.gg/xJWpW9U).

[2019-10-31 11:34] jessescn commented on #9
@peaonunes eu vi que você não havia pedido a tradução antes, eu vou deixar passar dessa vez :roll_eyes:, mas na próxima lembre de ler o contributing como é aconselhado.

[2019-10-31 11:35] peaonunes commented on #9
Opa @jessescn , joia. Passou batido o google sheets hehe. Acho que o google sheets poderia ficar fechado para edição, ta para qualquer um com link poder editar 😅

[2019-10-31 11:36] jessescn commented on #9
A gente deixou aberto exatamente para a galera poder contribuir uma vez que ainda estamos debatendo alguns dos termos

[2019-10-31 11:37] thiagorowof commented on #9
Of course! Put it to me!
I will start as soon as possible.

[2019-10-31 13:49] jay-jlm opened #21 "Como traduzir o termo "source plugin"?"
### Definição do termo original em inglês

### Significado relevante de 'source':
Do Collins English Dictionary (trecho):

Acredito que uma localização bem sucedida seria uma que conseguisse manter essa idéia de consumir um recurso (no caso, dados) a partir de uma fonte que fornece os dados.

[2019-10-31 14:09] abnersajr commented on #21
O termo plugin por si só não é comumente traduzido para o português. Uma sugestão seria `plugin para fonte de dados` nesse caso.

[2019-10-31 14:16] Rahmon commented on #9
Could I take submit-to-plugin-library?

[2019-10-31 14:42] thaisquintana commented on #9
Can I take the how-to-label-an-issue? :)

[2019-10-31 14:42] Dennissiq commented on #9
Of course @thaisquintana :)

[2019-10-31 15:21] fmoliveira commented on #9
Hello! Can I start translating `setting-up-your-local-dev-environment`?

[2019-10-31 16:47] jessescn commented on #9
All yours @fmoliveira!! remember to read our [CONTRIBUTING.md](https://github.com/gatsbyjs/gatsby-pt-BR/blob/master/CONTRIBUTING.md) and any questions feel confortable to send in our [Discord channel](https://discordapp.com/invite/xJWpW9U).

[2019-10-31 17:00] abnersajr commented on #9
I'm taking `pair-programming`

[2019-10-31 17:22] drd-2rcl commented on #9
I would like to get this issue `managing-pull-requests`

[2019-10-31 17:25] abnersajr commented on #9
@drd-2rcl go ahead with `managing-pull-requests`. Remember to read our CONTRIBUTING.md and any questions feel comfortable to send in our Discord channel.

[2019-10-31 18:37] rafaeelaudibert commented on #21
Apenas uma outra tradução possível: `plugin fornecedor (de dados)`

[2019-10-31 19:16] jessescn commented on #9
@abnersajr tente não pegar outra tradução antes de uma delas ser mergada, isso sobrecarrega nossas traduções :disappointed: .

[2019-10-31 23:08] peaonunes commented on #9
Gostaria de traduzir `how-to-make-a-reproducible-test-case` 😄

[2019-10-31 23:54] Italox commented on #1
Boa noite pessoal.

Descobri uma coisa legal para dar uma animada nas traduções:

Quem contribui (faz pull) em projetos Gatsby pode solicitar brindes gratuitos [loja do Gatsby](https://store.gatsbyjs.org/)

[Veja as regras e como proceder](https://www.gatsbyjs.org/contributing/contributor-swag/)

[2019-10-31 23:55] Italox commented on #9
Boa noite pessoal.

Descobri uma coisa legal para dar uma animada nas traduções:

Quem contribui (faz pull) em projetos Gatsby pode solicitar brindes gratuitos na [loja do Gatsby](https://store.gatsbyjs.org/)

[Veja as regras e como proceder](https://www.gatsbyjs.org/contributing/contributor-swag/)

[2019-10-31 23:56] Italox commented on #9
@peaonunes Welcome! If you had any issue post here or on Discord

[2019-11-01 00:27] guilhermepiovesan commented on #9
Can I take `how-to-open-a-pull-request`?

[2019-11-01 00:33] Italox commented on #9
@guilhermepiovesan Of course! Welcome :brazil:

[2019-11-01 00:38] Italox commented on #21
Ainda não encontrei nenhuma outra tradução para Source Plugin, nos outros repositórios estão:
ES - "Source plugins"
FR - Les plug-ins de source

Talvez chamar apenas de Plugin? Ficaria muito simples?

Creio que a tradução pode variar de acordo com o contexto da frase/página, tendo uma tradução maleável que se adeque.

A referência do Gatsby para plugin é [essa página](https://www.gatsbyjs.org/plug

[2019-11-01 00:40] Italox commented on #9
Can I take `how-to-write-a-stub` ?

[2019-11-01 00:43] jessescn commented on #9
Pode sim @Italox, ainda não entendi o porque do povo ficar pedindo em inglês, mas beleza kkk

[2019-11-01 01:10] jay-jlm commented on #21
@Italox  O significado que está descrição da issue foi retirado do glossário da documentação oficial do Gastby.
Obrigado pela pesquisa, aparentemente nessas outras versões eles decidiram deixar o termo em inglês. 🤷‍♂

[2019-11-01 01:24] Italox commented on #21
Vamos seguir a mesma ideia?

[2019-11-01 01:35] jay-jlm commented on #21
Particularmente eu nao gosto de deixar os termos em inglês, evito ao máximo.
Dito isso, acho uma opção válida, sim. Não tenho opinião consolidada ainda.

[2019-11-01 02:16] helloncanella commented on #9
Oi @jessescn , pode me linkar ao `rfc-process`

[2019-11-01 02:18] helloncanella commented on #9
Oi @jessescn , pode me linkar ao rfc-process.

[2019-11-01 02:46] jessescn commented on #9
Claro @helloncanella, lembra de dar uma olhada no nosso contributing, lá tem umas informações legais que podem te ajudar na tradução 😄

[2019-11-01 04:50] luizcieslak commented on #9
@jessescn posso pegar a `submit-to-creator-showcase`?

[2019-11-01 09:52] Italox commented on #9
@jessescn Normalmente a galera interage em inglês no github, mas não sei se aqui tem sentido mesmo auheuaheuhae.

@luizcieslak É seu!

[2019-11-01 11:04] Dennissiq commented on #9
Hello guys! I'll take the `submit-to-starter-library`, ok?

[2019-11-01 12:43] gutofoletto commented on #9
Can I help with site-showcase-submissions?

[2019-11-01 13:03] abnersajr commented on #9
@gutofoletto go ahead with `site-showcase-submissions`. Remember to read our CONTRIBUTING.md and any questions feel comfortable to send in our Discord channel.

[2019-11-01 13:55] vinifarias commented on #9
@jessescn  can I take ` triaging-github-issues` ?

[2019-11-01 14:04] LucasRuy commented on #1
O louco, da hora demais!

[2019-11-01 14:15] jessescn commented on #9
@vinifarias of course! feel free to send any questions in our discord and remember to read the contributing before start translating!

[2019-11-01 14:17] jessescn commented on #9
Galera como todos os arquivos já foram alocados, vamos focar em revisar e aceitar os que já foram designados. Caso passe 2 semanas e a pessoa não deu sinal de vida, iremos liberar para outras pessoas poderem traduzir. Futuramente iremos abrir novas issues para tradução, uma vez que ainda temos bastante arquivos pendentes :smile:

[2019-11-01 15:20] jessescn commented on #9
@Dennissiq entra no discord que quero falar contigo

[2019-11-01 16:51] Dennissiq commented on #9
Te chamei lá @jessescn :)

[2019-11-02 05:52] luizcieslak commented on #21
No #34 eu deixei ele na tradução direta: `Plugins de origem`

[2019-11-03 01:42] jessescn commented on #21
Eu recomendo o uso de `Plugin nativo`

[2019-11-04 15:56] jay-jlm commented on #21
Qual o motivo?

[2019-11-05 15:44] jay-jlm commented on #21
Mais usado onde? Tem algum link?

[2019-11-05 16:23] jessescn commented on #21
Creio que não existe um link com uma pesquisa. @jay-jlm qual você recomenda então?

[2019-11-05 18:22] jay-jlm commented on #21
Estou OK com qualquer tradução que preserve o significado do termo original como exemplificado na descrição da issue. `plugin nativo` vi apenas usado no contexto de outras tecnologias (como por exemplo o Cordova), mas se referir a plugins com funções bem diferentes dos source plugins do Gatsby. Mas se tiver alguma referência que traduz 'source plugin' como 'plugin nativo'  tenho interesse em conhe

[2019-11-05 22:00] gvarandas commented on #21
No contexto da documentação, a palavra `source` indica uma fonte de dados, literalmente.
Não seria recomendado então traduzir isso como `plugins de fontes (de dados?)`?

[2019-11-05 23:30] jessescn commented on #21
Dependendo do contexto, mas na maioria do casos ele se refere a um plugin que já vem
 no gatsby (nativo do Gatsby)

[2019-11-06 01:20] gvarandas commented on #21
A frase`Source plugins fetch data from their source. E.g. the filesystem source plugin knows how to fetch data from the file system` está definindo a origem dos dados, a fonte.
Os _source plugins_ são plugins para puxar dados de origens diversas, não necessariamente “nativos do Gatsby”. Sendo assim, não faz sentido traduzir isso como `plugin nativo`, mas sim `plugin de origem`, ou `plugin de fonte

[2019-11-06 15:07] tamirisapbonicenha commented on #9
If you release more translations, give me some ;)

[2019-11-07 00:17] Dennissiq commented on #9
@tamirisapbonicenha em breve vamos liberar mais traduções! Conforme formos liberandos as PRs, poderá contruibuir e fazer o Gatsby melhor :)

Sinta-se a vontade para entrar em nosso [**discord**](https://discordapp.com/invite/xJWpW9U) e participar de nossas discussões! 💜

[2019-11-08 17:29] lcnogueira commented on #9
Assim como a @tamirisapbonicenha , também quero contribuir, @Dennissiq . Se possível, por favor, avisa lá no discord quando liberar mais traduções 🙏 .

[2019-11-18 13:23] jessescn opened #57 "Translation Progress (Batch #3) - SYNCHRONIZING"
# Batch 3

### Revisores Oficiais
- @jessescn
- @iaurg
- @henry-ns
- @thayannevls

## Para os novos tradutores

Siga os passos descritos no nosso [CONTRIBUTING.md](https://github.com/gatsbyjs/gatsby-pt-BR/blob/master/CONTRIBUTING.md). **Daremos um limite de 2 SEMANAS para que cada tradução seja finalizada, no intuito de manter a tradução sempre dinâmica.**
Escolha apenas uma página para tradução p

[2019-11-18 23:14] ArthurFerrao commented on #57
Posso ficar com  add-404-page.md?

[2019-11-18 23:16] jessescn commented on #57
@ArthurFerrao toda sua!

[2019-11-18 23:35] thaisquintana commented on #57
Can I take the using-gatsby-without-graphql ?

[2019-11-18 23:37] jessescn commented on #57
@thaisquintana go ahead :)

[2019-11-19 10:44] junagao commented on #57
Olá 👋can I take styled-components.md?

[2019-11-19 11:20] Dennissiq commented on #57
Of course @junagao :smile:

[2019-11-19 13:12] drd-2rcl commented on #57
Opa, vou pegar `write-pages.md`. Desculpa o meu toc, mas seria legal se a lista acima estive em ordem alfabético =)

[2019-11-19 15:00] gabrielferreiraa commented on #57
Can I take `browser-support.md`?

[2019-11-19 17:02] gcmatheusj commented on #57
Hello everyone
Can i take `deploying-to-zeit-now.md`?

[2019-11-19 17:23] jessescn commented on #57
Of course @gcmatheusj and @gabrielferreiraa :tada:. Remeber to read the contributing and any questions feel free to send on our discord channel :)

[2019-11-19 18:34] gabrielferreiraa commented on #57
Can I take the following files?
- `preparing-for-deployment.md`
- `preparing-for-site-launch.md`

[2019-11-19 18:39] jessescn commented on #57
@gabrielferreiraa i can let you choose one at time when your pr is accepted

[2019-11-19 19:10] Italox commented on #21
Creio que podemos desconsiderar o termo `plugin nativo`, porque vi que o Gatsby pede para instalar os plugins enquanto você está desenvolvendo, então se preciso instalar ele deixa de ser nativo. Acompanhei a [página](https://www.gatsbyjs.org/tutorial/part-five/) e fui seguindo o tutorial:

[code]

[2019-11-19 21:41] jefferson2z commented on #57
I'd like to translate graphql.md

[2019-11-19 22:13] abnersajr commented on #57
Go ahead @jefferson2z

[2019-11-19 23:12] lucas-mdiniz commented on #57
Hey guys, can I have  `headless-cms.md`?

[2019-11-19 23:45] jessescn commented on #57
Sure @lucas-mdiniz

[2019-11-20 19:16] lcnogueira commented on #57
Hey, can I get the `using-gatsby-professionally.md` one?

[2019-11-20 19:21] jessescn commented on #57
Yep @lcnogueira, go ahead! Remember to read the contributing and please send any questions to us on discord channel

[2019-11-20 21:54] Italox commented on #9
@tamirisapbonicenha @lcnogueira Estamos com novos arquivos disponiveis em #57 , deem uma olhada.

[2019-11-20 23:23] peaonunes commented on #57
Se possível gostaria de traduzir `path-prefix.md` 😄

[2019-11-20 23:28] jessescn commented on #57
Toda sua @peaonunes 🎉

[2019-11-21 01:53] tamirisapbonicenha commented on #57
Posso pegar a `add-a-manifest-file.md`? :)

[2019-11-21 02:37] jessescn commented on #57
Pode sim @tamirisapbonicenha. Ao trabalho 👷

[2019-11-22 17:21] junagao commented on #57
Can I take `babel.md`?

[2019-11-22 18:18] jessescn commented on #57
Go ahead @junagao. Please reserve some time to read the contribution doc and any questions please send to us on our discord channel!

[2019-11-24 14:15] #12 closed

[2019-11-24 15:04] lcnogueira commented on #57
Hey, can I take the `convincing-others.md` one? I've translated the `using-gatsby-professionally.md` before, so I'll try to translate the whole section :wink::pray:.

[2019-11-24 15:08] ArthurFerrao commented on #57
posso pegar add-page-metadata.md?

[2019-11-24 15:38] jessescn commented on #57
@lcnogueira e @ArthurFerrao claro, podem começar o trabalho :construction_worker_man:

[2019-11-25 11:45] junagao commented on #57
Can I translate testing.md?

[2019-11-25 12:00] vinifarias commented on #57
Can I take best-practices-for-orgs.md ?

[2019-11-25 12:11] jessescn commented on #57
Of course @vinifarias and @junagao, all yours

[2019-11-25 13:12] junagao commented on #57
Can I translate `testing-react-components.md`?

[2019-11-25 13:14] jessescn commented on #57
@junagao on :fire:. Sure!

[2019-11-25 14:40] TCsTheMechanic commented on #57
`naming-a-plugin.md`
Can I take this one ?

[2019-11-25 14:47] jessescn commented on #57
Yep @TCsTheMechanic. Any questions please send to us on our discord channel and please read our contributing :)

[2019-11-25 14:48] TCsTheMechanic commented on #57
Ok, thanks :D

[2019-11-25 14:54] luchiago commented on #57
Can I take `gatsby-on-linux.md`?

[2019-11-25 15:56] jessescn commented on #57
Sure @luchiago, all yours

[2019-11-26 12:31] DouglasMV commented on #57
Hi, can i translate recipes.md ?

[2019-11-26 12:42] abnersajr commented on #57
@DouglasMV go ahead! Pay attention to the guidelines and let's roll!

[2019-11-26 22:17] rafaeelaudibert commented on #1
Olá @jpedroschmitz e @crisgon! Alguma novidade para conseguir fazer a tradução dos arquivos assigned pra vocês?

Se vocês estiverem sem tempo acho que seria legal liberar esses dois arquivos pra outras pessoas traduzirem, já que eles são extremamente importantes pro projeto, já que são de tutoriais, ainda mais dos primeiros tutoriais. O que vocês me dizem?

[2019-11-26 22:23] rafaeelaudibert commented on #9
Olá @cassule e @willian-viana ! Alguma novidade para conseguir fazer a tradução dos arquivos assigned pra vocês?

Se vocês estiverem sem tempo acho que seria legal liberar esses dois arquivos pra outras pessoas traduzirem, já que eles são extremamente importantes pro projeto. O que vocês me dizem?

[2019-11-27 01:29] ArthurFerrao commented on #57
posso pegar creating-plugins.md?

[2019-11-27 03:06] jessescn commented on #57
Vai que é tua @ArthurFerrao, qualquer dúvida pode mandar no nosso discord!

[2019-11-27 12:37] tavareshenrique commented on #57
Hey, i can translate tailwind-css.md?

[2019-11-27 17:06] thiagorowof commented on #9
Estou aqui ansioso pra contribuir mais, só esperando alguém liberar algo kkkkk :P

[2019-11-27 17:07] jpedroschmitz commented on #1
Opa @rafaeelaudibert, desculpa a demora para terminar e enviar a tradução. Eu já iniciei ela e em breve devo terminar, apenas acabei adiando devido a uns eventos e faculdade. Peço desculpas pela demora!

[2019-11-27 18:04] lcnogueira commented on #9
@thiagorowof, já viu a issue #57? Tem bastante lá 🙂

[2019-11-27 22:32] jessescn commented on #57
Sure @tavareshenrique :>. Make sure to read our contributing and any questions please send on our discord.

[2019-11-27 23:08] RodrigoEC commented on #57
Hi, Can I take creating-and-modifying-pages.md?

[2019-11-27 23:17] jessescn commented on #57
All yours @RodrigoEC. Any questions please send on our discord channel and make sure to read our contributing doc

[2019-11-28 03:10] rafaeelaudibert commented on #1
Imagina @jpedroschmitz, não precisa se apressar de maneira alguma, é apenas pra checar se você ainda está interessado na tradução. Assim que tiver ela pronta, vamos ficar muito felizes em mandar ela pro live. Obrigado desde já! Bons eventos/provas/trabalhos! 🥇

[2019-11-28 16:28] vinifarias commented on #57
Can I take `api-files.md` ?

[2019-11-28 16:47] ArthurFerrao commented on #57
posso pegar api-files-gatsby-node.md?

[2019-11-28 18:28] jessescn commented on #57
Todos seus @ArthurFerrao e @vinifarias

[2019-11-29 12:53] vinifarias commented on #57
Hi guys, can I take `building-a-portfolio.md` ?

[2019-11-29 12:58] Italox commented on #57
Com certeza! Marcado para você @vinifarias, se tiver alguma dúvida é só chamar 🏃

[2019-11-29 13:23] luchiago commented on #57
Can I grab ` css-modules.md`?

[2019-11-29 13:36] luchiago commented on #57
Can I grab `css-in-js.md`?

[2019-11-29 17:08] jessescn commented on #57
Sure @luchiago!

[2019-11-29 22:49] luchiago commented on #57
Thanks @jessescn

[2019-11-30 00:04] peaonunes commented on #57
Posso traduzir `creating-a-transformer-plugin.md`?

[2019-11-30 00:40] jessescn commented on #57
Pode sim @peaonunes, é toda sua!

[2019-12-01 15:55] Italox commented on #57
Bom dia pessoal, vou pegar a página `routing.md` para traduzir. 🇧🇷 ⚔️

[2019-12-01 18:22] emilioheinz commented on #57
Hello guys, can anyone help me?
I'm trying to find those files in the original repository but I can't, is there any link that can help me?
thanks.

[2019-12-01 18:25] emilioheinz commented on #57
Sorry, but I think there is a mistake in the description of the issue, the files that are listed are from the `docs/docs` directory and not from the `docs/contributing` directory. Right?

[2019-12-01 18:27] emilioheinz commented on #57
I'm taking `building-an-e-commerce-site.md` :wink:

[2019-12-01 18:55] jessescn commented on #57
Guys remember to ask and just not advice that you got some file :wink:

[2019-12-02 00:12] vinifarias commented on #57
Hi guys, can I take `creating-slugs-for-pages.md` ?

[2019-12-02 00:15] abnersajr commented on #57
@vinifarias go ahead! Remember to read the contributing guide. 🚀

[2019-12-02 01:45] gabrielferreiraa commented on #57
Can I take ` preparing-for-deployment.md`?

[2019-12-02 09:36] junagao commented on #57
Can I take `adding-page-transitions.md`?

[2019-12-02 09:49] Italox commented on #57
Com certeza! Marcado para vocês @gabrielferreiraa e @junagao, qualquer dúvida é só avisar.

[2019-12-02 11:13] emilioheinz commented on #57
Hello guys, I would like to take `configuring-ca-certificates`, can I?

[2019-12-03 00:30] jessescn commented on #57
Go ahead @emilioheinz!

[2019-12-03 04:28] DouglasMV commented on #57
Can i take ` gatsby-core-philosophy.md` ?

[2019-12-03 13:22] jessescn commented on #57
Sure @DouglasMV!

[2019-12-03 14:58] junagao commented on #57
Can I take `typography-js.md`?

[2019-12-03 15:02] Italox commented on #57
É sua @junagao, boa tradução! 🇧🇷 ⚔️

[2019-12-03 15:04] jpedroschmitz commented on #1
Fala @rafaeelaudibert, passando para avisar que terminei a tradução e já abri uma [PR](https://github.com/gatsbyjs/gatsby-pt-BR/pull/89). Qualquer probleminha que tiver é só me dar um toque lá para eu fazer as alterações necessárias 💜

[2019-12-05 01:21] mauriciomutte commented on #57
Can I take `why-gatsby-uses-graphql`?

[2019-12-05 02:50] jessescn commented on #57
Of course @mauriciomutte!

[2019-12-05 16:46] lucas-mdiniz commented on #57
Hey guys, can I take css-in-js.md?

[2019-12-05 20:13] Nerd0000 commented on #57
Posso ficar com o ``customization.md``?

[2019-12-06 14:38] tavareshenrique commented on #57
Hey, can I translate adding-forms.md?

[2019-12-06 19:33] luchiago commented on #57
Can I grab `build-caching.md`?

[2019-12-06 21:53] Italox commented on #57
É de vocês pessoal! Boa tradução, se tiverem qualquer dúvida é só avisar ⚔️ 🇧🇷 @lucas-mdiniz @Nerd0000 @tavareshenrique @luchiago

[2019-12-07 00:46] lcnogueira commented on #57
Pessoal, vou pegar o `first-professional-project.md` para traduzir, ok?

[2019-12-07 00:50] jessescn commented on #57
Claro @lcnogueira, toda sua!

[2019-12-08 19:06] luizcieslak commented on #57
Gostaria de traduzir o `static-folder.md`

[2019-12-08 23:15] DouglasMV commented on #57
Posso traduzir `graphql-concepts.md`?

[2019-12-09 15:34] crisgon commented on #1
@rafaeelaudibert , estava na correria e não consegui terminar. Hoje eu finalizo e mando PR.

[2019-12-09 16:35] Italox commented on #57
Com certeza! Marcado para vocês @luizcieslak @DouglasMV , se precisarem de algo é só avisar! 🇧🇷

[2019-12-10 17:25] renatamarques97 commented on #57
I would like to translate localization-i18n.md

[2019-12-10 20:35] renatamarques97 commented on #57
can I take bulma.md?

[2019-12-10 20:55] renatamarques97 commented on #57
can i take sass.md?

[2019-12-11 02:26] abnersajr commented on #57
@renatamarques97 go ahead! 🚀

[2019-12-11 17:09] Nerd0000 commented on #57
pode pegar o ``guides.md``?

[2019-12-11 17:11] abnersajr commented on #57
@Nerd0000 é sua.

[2019-12-11 18:27] jpedroschmitz commented on #57
Can I take `add-seo-component.md`? 💜

[2019-12-11 18:29] abnersajr commented on #57
Sure! @jpedroschmitz

[2019-12-11 20:23] renatamarques97 commented on #57
can i take sass.md?

[2019-12-11 20:24] abnersajr commented on #57
@renatamarques97 yes.

[2019-12-11 20:57] jessescn commented on #57
Por favor @abnersajr, ao atribuir a tradução, lembre de atualizar o documento com o nome da(o) responsavel

[2019-12-11 21:02] abnersajr commented on #57
Agora que vi eu estava na VPN, ai caiu acho que no meio do request e falhou a edição. VPN é coisa tensa :(

[2019-12-11 21:26] renatamarques97 commented on #57
localization-i18n.md (@renatamarques96) #99

meu nick ta errado

[2019-12-11 21:28] jessescn commented on #57
@renatamarques97 corrigido

[2019-12-11 21:37] luchiago commented on #57
Can I grab `emotion.md`?

[2019-12-11 23:38] pellizzetti commented on #57
👋  Requesting `gatsby-repl.md`.

[2019-12-12 00:12] abnersajr commented on #57
@luchiago & @pellizzetti let's work!

[2019-12-12 02:12] jessescn commented on #57
@abnersajr por favor só pegue uma traduçao quando a sua PR for aceita

[2019-12-12 04:08] abnersajr commented on #57
@jessescn as coisas estão andando bem devagar quanto a tradução. Não vejo problema em abrir outras PRs, uma vez que a pessoa de a devida atenção aos comentários abertos. Mas ok. Irei aguardar a aprovação de agora em diante.

[2019-12-12 04:15] jessescn commented on #57
Coisas assim eu acredito que é bom manter uma vez que se pararem de seguir, quando aumentar o fluxo de traduções vai ficar uma bagunça

[2019-12-12 10:40] iaurg commented on #57
@abnersajr Acho que nesse caso pode haver a situação em que uma pessoa pega várias páginas, traduz e deixa de lado as atualizações, ai ficamos "presos" esperando aquela pessoa retornar e ajustar o que precisa.

[2019-12-12 12:38] MiguelMachado-dev commented on #57
Requesting ` adding-analytics.md`

[2019-12-12 13:06] abnersajr commented on #57
@MiguelMachado-dev 👍

[2019-12-12 13:10] abnersajr commented on #57
@iaurg e @jessescn Entendo claramente a preocupação. Foi apenas na intenção de fazer as coisas andar.. Mas eu como um dos mantenedores não posso dar o mal exemplo, não POSSO e nem VOU fazer bagunça ou deixar coisas pra trás. 😁  Apesar de ter digitado o nickname da minha própria colega de trabalho errado 😅 .
Mas entendo a preocupação de vocês. Vou pegar mais leve 👍

[2019-12-12 14:26] istumpf commented on #57
Posso pegar `query-extraction.md`?

[2019-12-12 14:39] abnersajr commented on #57
@istumpf pode :)

[2019-12-12 14:56] istumpf commented on #57
@abnersajr tá marcado como desatualizado o a doc. Checkei no repo principal e ainda não foi atualizado. Traduzo mesmo assim ou pego outro arquivo?

[2019-12-12 14:57] maiconrs95 commented on #57
@jessescn, @abnersajr  Posso ficar com o  ```node-creation.md```?

[2019-12-12 15:19] jessescn commented on #57
Fique a vontade @maiconrs95. Lembra de ler o nosso arquivo `CONTRIBUTING.md` e qualquer dúvida pode mandar no nosso discord!

[2019-12-12 15:21] jessescn commented on #1
@crisgon alguma novidade?

[2019-12-12 17:39] abnersajr commented on #57
@istumpf Pode se basear no repositório original.

[2019-12-12 17:48] renatamarques97 commented on #57
posso traduzir cheat-sheet.md?

[2019-12-12 20:55] jessescn commented on #57
@renatamarques97 espera a sua PR ser aceita pf, ta uma bagunça mas o certo é pegar uma nova apenas quando sua PR for mergeada. @abnersajr por favor, verifique se a pessoa já tem uma PR aberta antes de distribuir as traduções.

[2019-12-12 20:57] jessescn commented on #57
No caso @renatamarques97, quando as suas 3 forem aceitas. Não ter esse controle faz com que acumule várias PRs abertas, principalmente se o fluxo de correções estiver baixo. Lembrem-se que os corretores são voluntários e estão querendo contribuir assim como vcs 😉

[2019-12-13 00:23] furlanf commented on #57
Posso pegar `plugins.md`?

[2019-12-13 00:34] jessescn commented on #57
Pode sim @furlanf, toda sua!

[2019-12-15 01:28] fbandeirac commented on #57
Olá, gostaria de traduzir o arquivo using-fragments.md .

[2019-12-15 03:06] jessescn commented on #57
todo seu @fbandeirac. Lembre-se de ler nosso contributing e qualquer duvida pode mandar no nosso discord :)

[2019-12-17 01:04] luchiago commented on #57
Posso traduzir o `importing-media-content.md`?

[2019-12-17 01:06] jessescn commented on #57
toda sua @luchiago

[2019-12-17 01:10] renatamarques97 commented on #57
pode me dar assign no cheat-sheet.md?

[2019-12-17 01:23] Alessandro265 commented on #57
posso pegar o adding-comments.md?

[2019-12-17 01:26] jessescn commented on #57
Todo seu @Alessandro265

[2019-12-17 01:26] DouglasMV commented on #57
Posso traduzir `schema-customization.md`?

[2019-12-17 01:27] jessescn commented on #57
Podem sim @DouglasMV

[2019-12-17 01:48] crisgon commented on #1
@jessescn , desculpa a demora, de verdade. Não consegui terminar tudo de uma vez e tive que ir fazendo aos poucos, mas já acabei e mandei o PR.

[2019-12-17 01:49] lcnogueira commented on #57
Vou pegar `winning-over-stakeholders.md`,  pode ser?

[2019-12-17 03:14] Quemia commented on #57
posso pegar a custom-html.md ?

[2019-12-17 10:04] iaurg commented on #57
Claro pessoal, marcado para vocês @Quemia e @lcnogueira, se tiverem dúvidas basta nos informar.

[2019-12-17 10:38] Nerd0000 commented on #57
posso ficar com o `overview.md`?

[2019-12-17 18:56] jessescn commented on #57
Pode sim @Nerd0000 (lembre de esperar a resposta antes de fazer)

[2019-12-17 20:02] pellizzetti commented on #57
Requesting `starters.md` 🚀

[2019-12-18 16:59] iaurg commented on #57
@pellizzetti é seu! Boa tradução 🚀

[2019-12-18 17:53] furlanf commented on #57
Posso traduzir o `themes.md`?

[2019-12-18 17:54] abnersajr commented on #57
@furlanf pode sim. 🚀

[2019-12-19 00:43] peaonunes commented on #57
Gostaria de traduzir `api-files-gatsby-config.md` se possível.

[2019-12-19 12:11] iaurg commented on #57
Marcado para você @peaonunes, boa tradução. Se tiver alguma dúvida é só mencionar.

[2019-12-19 12:40] tavareshenrique commented on #57
Hey, I can translate `page-creation.md`?

[2019-12-19 12:42] iaurg commented on #57
@tavareshenrique marcado para você! Boa tradução 🇧🇷

[2019-12-20 11:45] elainemattos commented on #57
Olá, posso traduzir `creating-a-sitemap.md` ?

[2019-12-20 15:15] jessescn commented on #57
Pode sim @elainemattos! lembra de ler nosso arquivo CONTRIBUTING que lá tem um guia dos passos a seguir e qualquer dúvida pode procurar a gente no nosso canal do discord :)

[2019-12-23 00:37] Wil-g2 commented on #57
Óla, posso traduzir <code> seo.md </code> ?

[2019-12-23 14:09] gabrielferreiraa commented on #57
Can I take `coming-from-react-to-gatsby.md`?

[2019-12-23 19:54] iaurg commented on #57
Claro @Wil-g2 e @gabrielferreiraa, marcado para vocês. Se tiverem qualquer dúvida pode procurar a gente no nosso canal do [discord](https://discordapp.com/invite/xJWpW9U) 🇧🇷 ⚔️

[2019-12-26 20:54] Quemia commented on #57
posso ficar com a  security-in-gatsby.md?

[2019-12-29 12:02] sosolidkk commented on #57
Posso ficar com sourcing-from-ghost.md?

[2019-12-30 14:42] jessescn commented on #57
Podem sim @sosolidkk, @Quemia espera o teu PR ser aceito que eu coloco que eu coloco o que tu quiser :)

[2020-01-02 01:57] rafaeelaudibert commented on #9
Como faz um tempinho que não temos resposta, acabei de liberar as issues solicitadas por @cassule e @willian-viana para outras pessoas poderem pegar!

Só pedir aqui, que a gente assigna pra vocês aí!

[2020-01-02 15:09] renatamarques97 commented on #57
posso pegar gatsby-on-windows.md?

[2020-01-02 17:54] luchiago commented on #57
Posso pegar `what-you-dont-need-plugins-for.md`?

[2020-01-02 19:29] jessescn commented on #57
Claro @luchiago e @renatamarques97. Podem começar os trabalhos 😄

[2020-01-03 01:21] pellizzetti commented on #57
Requesting `performance.md` 🚀

[2020-01-03 03:13] #1 closed

[2020-01-03 11:31] iaurg commented on #57
Marcado para você @pellizzetti, boa tradução!

[2020-01-03 11:42] lcnogueira commented on #57
Posso traduzir ` winning-over-developers.md`?

[2020-01-03 16:50] brunagil commented on #57
Oi pessoal! Posso traduzir o `porting-from-create-react-app-to-gatsby.md`?

[2020-01-03 19:16] jessescn commented on #57
Claro @lcnogueira e @brunagil. Caso não tenha lido, aconselho lerem o arquivo CONTRIBUTING.md, lá tem passo-a-passo de como contribuir 😄

[2020-01-03 19:17] Lucaas-Eduardo commented on #57
posso traduzir unit-testing.md?

[2020-01-04 00:11] vsmjr commented on #9
Posso pegar a _community-contributions_?

[2020-01-04 01:19] abnersajr commented on #9
@vsmjr pode sim.

[2020-01-04 20:25] CarlosEduLima commented on #57
Olá, pessoal. Posso traduzir what-is-a-plugin.md?

[2020-01-04 21:13] iaurg commented on #57
@Lucaas-Eduardo, @CarlosEduLima marcado para vocês! Boa tradução, se tiverem dúvidas podem consultar nosso repositório ou falar com o pessoal no [Discord](https://discordapp.com/invite/xJWpW9U)

[2020-01-05 02:41] vsmjr commented on #9
É possível assumir _where-to-participate_ enquanto _community-contributions_, que também está comigo, está sob revisão? Bora acabar essa parte hahaha

[2020-01-05 23:14] jessescn commented on #9
Precisa ter pressa não @vsmjr. Provavelmente seu PR vai ser aceito logo e quando acabar eu repasso pra ti. É só pra manter os processos de contribuição mesmo :smile:

[2020-01-06 00:02] vinipbk commented on #57
Olá pessoal, posso traduzir o `global-css.md`?

[2020-01-06 12:08] jessescn commented on #57
Claro @vinipbk. Lembra de ler nosso arquivo [contributing.md](https://github.com/gatsbyjs/gatsby-pt-BR/blob/master/CONTRIBUTING.md) para saber mais sobre o processo de contribuição :)

[2020-01-06 15:15] thiagorowof commented on #57
**security-in-gatsby.md** it's mine now!

[2020-01-06 16:20] jessescn commented on #57
Sure @thiagorowof

[2020-01-08 17:21] thiagorowof commented on #57
finished!

...and now, static-query.md, ok? :D

[2020-01-08 17:53] jpedroschmitz commented on #9
Posso pegar `where-to-participate`!

[2020-01-08 17:54] gabrigode commented on #57
Can i take 'using-a-gatsby-theme.md'?

[2020-01-08 18:55] jessescn commented on #9
@jpedroschmitz tu poderia pegar alguma da batch #3 (lá tem bastante trabalho)? eu tinha dito a @vsmjr que ele podia pegar essa quando o PR da outra fosse aceita

[2020-01-08 18:57] jessescn commented on #57
Yes @gabrigode. Please remember read our contribution documentation if this is your first contribution here :)

[2020-01-08 20:41] iaurg commented on #57
Marcado para você @thiagorowof, qualquer dúvida é só falar!

[2020-01-08 20:49] tavareshenrique commented on #57
Hey, I can translate `making-components-discoverable.md`, please?

[2020-01-09 12:22] jpedroschmitz commented on #9
Como faltava só um arquivo nessa issue, eu pensei em pegar esse arquivo, para finalizar ela 😀
Mas vou escolher um arquivo na issue 3 então 💜

[2020-01-09 16:44] jessescn commented on #57
Of course @tavareshenrique :)

[2020-01-09 20:03] vsmjr commented on #9
@jessescn Tô livre pra pegar ``where-to-participate``, a #142 já foi aceita

[2020-01-09 20:20] MiguelMachado-dev commented on #57
~cliquei errado, sorry~
Gostaria de traduzir o `adding-an-rss-feed.md`!

[2020-01-09 21:16] iaurg commented on #57
Marcado para você @MiguelMachado-dev, se tiver alguma dúvida é só avisar!

[2020-01-09 22:01] sosolidkk commented on #57
Posso traduzir adding-search.md?

[2020-01-09 22:03] jessescn commented on #57
Toda sua @sosolidkk :smile:

[2020-01-10 01:13] Mex978 commented on #57
Posso traduzir testing-css-in-js.md?

[2020-01-10 12:40] LeonanCS commented on #57
Posso traduzir <code>telemetry.md</code>?

[2020-01-10 12:44] abnersajr commented on #57
@Mex978 e @LeonanCS marcado para vocês os respectivos arquivos. Lembrem-se de olhar a documentação sobre a tradução e qualquer dúvida entre no canal do Discord.

[2020-01-10 16:00] CarlosEduLima commented on #57
Olá novamente. Posso traduzir working-with-images.md?

[2020-01-10 17:00] iaurg commented on #57
Claro! Marcado para você @CarlosEduLima 🚀

[2020-01-11 03:06] rafaeelaudibert commented on #9
Toda sua, @vsmjr!

[2020-01-12 15:45] netochaves commented on #57
Can I take `deploying-to-render.md` ?

[2020-01-12 18:30] iaurg commented on #57
Com certeza, marquei para você @netochaves, lembre-se de olhar a documentação sobre a tradução e qualquer dúvida entre no canal do Discord.

[2020-01-13 03:33] mauriciomutte commented on #57
Can I take `working-with-gifs.md`?

[2020-01-13 20:21] jessescn commented on #57
Sure @mauriciomutte! please remember read our contributing doc before start translating :)

[2020-01-14 20:03] Wil-g2 commented on #57
Can I take `themes.md?`

[2020-01-15 13:40] alessandrobl97 commented on #57
posso pegar o using-gatsby-image.md?

[2020-01-15 14:21] abnersajr commented on #57
@Wil-g2 e @alessandrobl97 Podem pegar.

[2020-01-15 18:11] Wil-g2 commented on #57
Can I take `gatsby-config.md` ?

[2020-01-16 04:09] iaurg commented on #57
Claro, marcado para você @Wil-g2, qualquer dúvida é só avisar!

[2020-01-16 15:16] sosolidkk commented on #57
Posso ficar com `deploying-to-netlify.md`?

[2020-01-16 16:14] junagao commented on #57
can I take `preparing-your-environment.md`?

[2020-01-16 16:45] jpedroschmitz commented on #57
Can I take ` end-to-end-testing`?

[2020-01-16 17:17] tavareshenrique commented on #57
Hey, I can translate `how-gatsby-boosts-career.md`?

[2020-01-17 00:04] Mex978 commented on #57
Posso pegar a `winning-over-executives.md`?

[2020-01-17 00:18] mauriciomutte commented on #57
Can I take `answering-it-security.md`?

[2020-01-17 12:17] fbandeirac commented on #57
Posso pegar debugging-html-builds.md ?

[2020-01-18 16:22] iaurg commented on #57
Marcado para você @fbandeirac, se tiver alguma dúvida é só avisar.

[2020-01-20 17:12] VictorKunzler commented on #57
Can I get post-css.md?

[2020-01-21 11:18] junagao commented on #57
can I take `making-your-site-accessible.md`?

[2020-01-21 12:41] abnersajr commented on #57
@junagao yes. Go ahead.

[2020-01-22 00:52] rafaeelaudibert commented on #21
Sendo considerado como "plugin de origem" ou "plugin de extração", de acordo com o contexto, em #151

[2020-01-22 03:11] vinipbk commented on #57
Can I take `gatsby-project-structure.md` ?

[2020-01-22 03:15] Mex978 commented on #57
Posso traduzir a `schema-generation.md`?

[2020-01-22 19:06] vinifraga commented on #57
First time here. Can I take `debugging.md` ?

[2020-01-22 22:49] iaurg commented on #57
Claro @vinipbk @Mex978 e @vinifraga, boa tradução pessoal, se tiverem qualquer dúvida nos avise.

[2020-01-24 13:25] vinifraga commented on #57
Posso pegar o api-reference.md?

dúvida: vi que tem vários arquivos muito pequenos (uma linha apenas) como o api-reference.md. Vi no contribuiting.md que devemos pegar apenas um por vez, mas nesses casos poderia abrir uma excessão pra pegar uns 2 ou 3 desses arquivos muito pequenos?

[2020-01-24 13:36] jessescn commented on #57
Posso até permitir que tu pegue três arquivos com essas características @vinifraga. Mas tu vai precisar abrir um PR pra cada (PS. api-reference.md é tua :))

[2020-01-24 13:36] jessescn commented on #57
Ma no caso manda uma mensagem aqui pedindo eles

[2020-01-24 13:39] vinifraga commented on #57
@jessescn Obrigado, vou pegar três bem pequenos então. No caso serão:

1. api-reference.md
2. releases-and-migration.md
3. thinking-in-gatsby.md

[2020-01-24 13:45] tavareshenrique opened #171 "Novas informações no tailwind-css.md"
### Descrição
Eu fui responsável por traduzir o arquivo [tailwind-css.md](https://github.com/gatsbyjs/gatsby-pt-BR/blob/master/docs/docs/tailwind-css.md) e recentemente, descobri que esse arquivo na versão original foi adicionado mais uma "Option" , no caso a **Option #3: SCSS**. Quando eu traduzi, só tinha até a **Option #2: CSS-in-JS**.

Vocês me permitem adicionar a tradução da  **Option #3: SC

[2020-01-24 13:46] vinifraga opened #172 "Sugestão: Adicionar links dos arquivos disponíveis nas batches de tradução"
Boa tarde pessoal, o que acham de adicionar o link dos arquivos que ainda não foram distribuídos/corrigidos na listagem das batches pro pessoal conseguir identificar mais facilmente?
Por exemplo:

- [x] headless-cms.md (**@lucas-mdiniz**) :heavy_check_mark: [#87](https://github.com/gatsbyjs/gatsby-pt-BR/pull/87)
- [ ] creating-and-modifying-pages.md (**@RodrigoEC**) :running_man:
- [ ] [schema-sif

[2020-01-24 13:51] jessescn commented on #57
Certo @vinifraga. Alocado!

[2020-01-24 13:54] mauriciomutte commented on #57
Posso pegar o ` using-graphql-playground.md`?

[2020-01-24 14:02] jessescn commented on #57
Toda sua @mauriciomutte

[2020-01-24 14:17] AntonioLeonan commented on #57
Posso ficar com o <code>webpack-and-ssr.md</code>?

[2020-01-24 14:37] iaurg commented on #172
Acho que seria uma boa, evita ficar buscando. Podemos adicionar o link nos que ainda não foram traduzidos.

[2020-01-24 14:40] iaurg commented on #171
Perfeito, pode abrir uma no PR com adição deste novo item, o que acha? Assim conseguimos manter as traduções alinhadas com as atualizações.

Com certeza futuramente teremos novas situações como essa.

Obrigado pela observação.

[2020-01-24 14:41] tavareshenrique commented on #171
Perfeito, @iaurg! Deixa comigo, irei abrir uma PR resolvendo isso.

Eu que agradeço pelo retorno!!!

[2020-01-24 14:43] iaurg commented on #57
Claro, marcado para você @AntonioLeonan

[2020-01-24 15:59] vinifraga commented on #172
@iaurg certo, vou começar a fazer. Por onde mando o texto com essas modificações?

[2020-01-24 19:53] furlanf commented on #57
Posso pegar `component-libraries.md`?

[2020-01-25 00:25] 7glaucio commented on #57
@jessescn @iaurg Posso ficar com debugging-cache-issues.md ? Será minha primeira página. Sou novato no Git, porém gostaria muito de ajudar a fim de contribuir com a comunidade, e ganhar mais prática.

[2020-01-25 00:52] jessescn commented on #57
Olá @7glaucio. Ficamos muito felizes por você ter escolhido nosso repositório para contribuir. A página é toda sua! Eu aconselho ler o arquivo [contributing.md](https://github.com/gatsbyjs/gatsby-pt-BR/blob/master/CONTRIBUTING.md) para entender melhor o processo de contribuição e qualquer dúvida você pode mandar no nosso canal no [discord](https://discordapp.com/invite/xJWpW9U)! :)

[2020-01-25 10:54] iaurg commented on #57
Marcado para você @furlanf, qualquer dúvida é só avisar!

[2020-01-25 20:02] vinifraga commented on #172
Pessoal, eu praticamente terminei o arquivo, mas não consegui encontrar no repo:
- todos os arquivos do docs/glossary
- todos os arquivos do docs/recipes
- o arquivo getting-started.md do docs/themes
Vou enviar por aqui o que fiz. Qualquer crítica ou sugestão só falar.
[gastby.zip](https://github.com/gatsbyjs/gatsby-pt-BR/files/4112680/gastby.zip)

[2020-01-27 17:02] jay-jlm commented on #171
@tavareshenrique consegue trocar o link que vc incluiu para o site para o link do .md atualizado no repósitorio da documentacao em ingles?
Acredito que isso vai ajudar muito para os revisores

[2020-01-27 17:04] tavareshenrique commented on #171
Ótima dica @jay-jlm, está feito!
Obrigado!

[2020-01-27 17:44] jay-jlm commented on #171
Oops, na verdade ia pedir para incluir na descrição da PR, na pressa me enganei.
Acabei de revisar a PR lá, obrigado!

[2020-01-28 14:41] iaurg commented on #57
@jessescn @ArthurFerrao @rafaeelaudibert @abnersajr @jay-jlm o que acham de editarmos a issue aqui com o arquivo enviado pelo @vinifraga na #172 , o arquivo está pronto e atualizado. Seria bom fazermos isso antes de aprovarmos próximos contribuidores.

[2020-01-28 15:19] tavareshenrique commented on #171
Está sendo resolvido na #173

[2020-01-29 23:25] 7glaucio commented on #57
@jessescn Você disse que o `debugging-cache-issues` estava aprovado nos comentários do pull request, mas aqui continua constando com o ícone de revisão. Posso pegar o próximo (`node-interface.md`)?

[2020-01-29 23:33] jessescn commented on #57
@7glaucio quando eu disse aprovado eu me referia a minha aprovação. Você precisa esperar outro codeowner aceitar seu PR (já que são necessários pelo menos duas aprovações). Quando seu PR for mergeado vocẽ pode vir pedir mais :)

[2020-01-29 23:53] 7glaucio commented on #57
Perfeito. Pensei nisso, mas só perguntei pra ter certeza. Perdão pela falha.

[2020-01-30 01:43] ViniciusmDias commented on #57
Olá a todos! É a minha primeira tentativa de contribuição por aqui, posso ficar com a página:

[2020-01-30 03:43] PatrickWalter387 commented on #57
Olá, mesmo não estando listada poderia ficar com a **accessibility-statement.md** ? Acabei me empolgando e ja traduzi ela por completo '-'. Senão puder tranquilo.

[2020-01-30 14:47] sosolidkk commented on #57
Posso ficar com `winning-over-clients.md`?

[2020-01-30 17:11] thiagorowof commented on #57
Galera, acabei me empolgando e traduzindo 4 pages D:

Pull request feito, podem atualizar a planilha ai?

[2020-01-30 23:54] jessescn commented on #57
@thiagorowof desculpe mas vou ter que fechar seus PRs. A gente segue um passo-a-passo para não sobrecarregar os revisores

[2020-01-30 23:55] jessescn commented on #57
Agradecemos a vontade de contribuir mas por favor, siga o nosso contributing

[2020-01-30 23:56] jessescn commented on #57
Vocẽ pode vir aqui pedir uma a uma, mas só peço que respeite o processo de tradução

[2020-01-31 00:12] jessescn commented on #57
Só tomar cuidado da próxima vez :)

[2020-01-31 02:10] thiagorowof commented on #57
Tranquilo! Foi na melhor das intenções! Vou abrir um a um então.

[2020-01-31 02:50] PatrickWalter387 commented on #57
@jessescn se puder colocar meu nome para que faça a tradução **accessibility-statement.md**, inclusive ja esta pronta, eu tinha te mandado um pull request e tu pediu pra eu vir aqui.

[2020-01-31 14:15] #171 closed

[2020-02-01 00:23] jessescn commented on #57
@PatrickWalter387 colocado, deixei no final porque não estava listado e porque ele não está em `/docs`

[2020-02-01 14:15] vinifraga commented on #172
Fecharei a issue porque a lista já não está mais atualizada

[2020-02-01 14:15] #172 closed

[2020-02-03 12:04] junagao commented on #57
olá 😃can I take `adding-pagination.md`?

[2020-02-03 12:19] AleBL commented on #57
quero pegar o **sharing-components-across-websites.md**

[2020-02-03 22:21] vinifraga commented on #57
Fala pessoal, estou pensando em fazer a mesma estratégia da outra vez: pegar três arquivos minúsculos e abrir três prs de uma vez. O que acham? Se aprovarem de novo, gostaria de pegar:

- building-a-blog.md
- interactive-pages.md
- sourcing-from-prose.md

[2020-02-03 23:33] sosolidkk commented on #57
Posso pegar `sanitize-your-stack.md`?

[2020-02-05 14:43] jefferson2z commented on #57
Gostaria de traduzir o arquivo `gatsby-image.md`

[2020-02-05 17:31] jessescn commented on #57
@vinifraga tudo bem, @jefferson2z e @sosolidkk são seus

[2020-02-05 17:33] jessescn commented on #57
@AleBL e @junagao todas suas também

[2020-02-06 13:14] gabrielbaldao commented on #57
Can I take ` importing-assets-into-files.md`?

[2020-02-06 13:59] abnersajr commented on #57
@gabrielbaldao yes.

[2020-02-07 11:38] AntonioHamilton commented on #57
Posso ficar com o  customizing-components?

[2020-02-07 13:32] abnersajr commented on #57
@AntonioHamilton pode sim.

[2020-02-11 20:25] maykonmenezes commented on #57
Can I take  `using-multiple-gatsby-themes.md`?

[2020-02-12 19:17] TCsTheMechanic commented on #57
Can I take `images-and-files.md` ?

[2020-02-12 21:01] iaurg commented on #57
Claro! Marcado para vocês @maykonmenezes @TCsTheMechanic qualquer dúvida você pode mandar no nosso canal no [discord](https://discordapp.com/invite/xJWpW9U)!

[2020-02-15 17:55] LeuAlmeida commented on #57
Cai I take `caching.md` ?

[2020-02-15 17:59] jessescn commented on #57
@LeuAlmeida sure! please read your contributing file if you have any questions about how to contribute and if you need help, please let us know on our discord channel!

[2020-02-15 18:06] LeuAlmeida commented on #57
I'll provide that. Thanks for your help @jessescn

[2020-02-15 18:08] jessescn commented on #9
Arquivo `how-to-pitch-gatsby` liberado para poder ser traduzido!

[2020-02-17 08:05] peaonunes commented on #9
Posso traduzir `how-to-pitch-gatsby` 😄

[2020-02-17 14:12] abnersajr commented on #9
@peaonunes yes you can. You can take some insights from this closed PR.

[2020-02-17 15:15] Lucaas-Eduardo commented on #57
can i take the gatsby-lifecycle-apis.md?

[2020-02-17 16:58] LeuAlmeida commented on #57
I finished my last translation and already openned a [PR](https://github.com/gatsbyjs/gatsby-pt-BR/pull/202). Can i take `preoptimizing-images.md` ?

[2020-02-17 22:32] jessescn commented on #57
@Lucaas-Eduardo @LeuAlmeida  sure! any questions please make we know in our discord channel

[2020-02-18 00:50] fbandeirac commented on #57
@LeuAlmeida we need to wait until the PR is reviewed and merged before taking another file to translate. It allows more people to participate and doesn't overload the reviewers.

[2020-02-24 17:20] iaurg commented on #9
Estou fechando esta issue, o último arquivo #209 foi traduzido, aprovado e incluso no projeto.

[2020-02-24 17:20] #9 closed

[2020-02-24 22:09] AntonioLeonan commented on #57
Posso pegar o <code>loading-plugins-from-your-local-plugins-folder.md</code>?

[2020-02-25 00:35] 7glaucio commented on #57
@jessescn Por gentileza me marca no `theme-composition.md`.

[2020-02-27 04:51] AleBL commented on #57
posso pega o `adding-a-list-of-markdown-blog-posts.md`?

[2020-02-27 16:35] adeonir commented on #57
Posso pegar o `using-a-plugin-in-your-site.md`?

[2020-02-27 20:12] iaurg commented on #57
Marcado para vocês pessoal @AntonioLeonan @7glaucio @AleBL @adeonir, se tiverem qualquer dúvida nos avise.

[2020-03-03 09:46] peaonunes commented on #57
Posso pegar o `docs/docs/deploying-to-heroku.md` ? 😄

[2020-03-03 18:37] italohdc commented on #57
Posso pegar `winning-over-engineering-leaders.md`?

[2020-03-05 15:43] vinifraga commented on #57
Boa tarde pessoal, seguindo a mesma ideia das outras duas vezes, gostaria de pegar:

adding-search-with-elasticlunr.md
basic-hardware-software-requirements.md
building-a-site-with-asynchronous-data.md

[2020-03-06 00:00] jessescn commented on #57
Marcado para @peaonunes e @italohdc. @vinifraga marquei pra vc somente o `adding-search-with-elasticlunr.md`, já que tem muito arquivo travado na revisão

[2020-03-07 16:14] vinipbk commented on #57
Can I take `adding-markdown-pages.md` ?

[2020-03-10 22:05] iaurg commented on #57
Marcado para você @vinipbk

[2020-03-11 18:00] sosolidkk commented on #57
Posso traduzir `node.md` do `docs/glossary`?

[2020-03-11 20:59] adeonir commented on #57
Marca pra mim `how-gatsby-works-with-github-pages.md`

[2020-03-11 22:22] matheusoak commented on #57
posso traduzir scaling-issues.md?

[2020-03-11 23:04] Rychillie commented on #21
Plugin não poderia ser uma tradução para Conector?

[2020-03-12 01:33] jefferson2z commented on #57
A tradução do gatsby-image eu terminei, mas esta marcada como em andamento. Poderia mudar para "Sob Revisão"?

[2020-03-12 20:33] jessescn commented on #21
@Rychillie o termo plugin é comumente usado, diferente da sua tradução mesmo. O ponto seria o _source_ mesmo.

[2020-03-12 21:40] iaurg commented on #21
@Rychillie É como o @jessescn mencionou, o pessoal da área já conhece muito o termo "plugin", o que complica é a tradução do conjunto "Source Plugin" que pode ter vários entendimentos de acordo com o contexto.

[2020-03-15 17:18] vinifraga commented on #57
Gostaria de pegar o `basic-hardware-software-requirements.md`

[2020-03-19 16:14] iaurg commented on #57
Bom dia pessoal,

Traduções marcadas para: @sosolidkk @adeonir @matheusoak e @vinifraga

Atualizado status da tradução @jefferson2z, obrigado por avisar.

[2020-03-24 22:28] AleBL commented on #57
posso pegar o [ **`getting-started.md`**](https://github.com/gatsbyjs/gatsby-pt-BR/blob/master/docs/docs/themes/getting-started.md) do **`docs/themes`**?

[2020-03-25 15:16] iaurg commented on #57
Claro, marcado para você @AleBL , se tiver qualquer dúvida nos informe

[2020-03-25 22:57] 7glaucio commented on #57
@iaurg @jessescn Me atribui o what-are-gatsby-themes.md por favor.

[2020-03-29 14:45] iaurg commented on #57
@7glaucio marcado para você, se tiver qualquer dúvida é só avisar

[2020-03-29 15:58] netochaves commented on #57
Posso pegar o `react.md` do `docs/glossary` ?

[2020-03-31 00:48] mrcsvg commented on #57
Olars!! =)

Me apaixonei pelo Gatsby e gostaria de começar a colaborar =)

Pra começar, posso pegar o `docs/mdx/index.md` ?

Obrigado! =)

[2020-03-31 01:35] abnersajr commented on #57
@netochaves adicionado
@mrcsvg adicionado
Caso seja sua primeira vez lembre-se de seguir os guidelines: https://github.com/gatsbyjs/gatsby-pt-BR/blob/master/CONTRIBUTING.md

[2020-03-31 04:27] AntonioLeonan commented on #57
Posso ficar com o <code>sourcing-from-databases.md</code>?

[2020-04-01 01:25] iaurg commented on #57
Marcado para você @AntonioLeonan, se tiver alguma dúvida é só avisar. 🚀

[2020-04-02 12:57] henry-ns commented on #57
Posso ficar com `node-interface.md`?

[2020-04-04 22:06] iaurg commented on #57
Claro @henry-ns, marcado para você. Se tiver qualquer dúvida nos informe para que possamos ajudá-lo.

[2020-04-06 13:54] henry-ns commented on #21
Que tal usar a tradução e em seguida entre parênteses o termo original para esses casos?

Que no caso ficária: `Plugins de origem (source plugins)`

[2020-04-06 16:56] henry-ns commented on #57
Obrigado @iaurg, acabei de realizar o `pull request`, só aguardando ser aceito para pedir outro arquivo.

[2020-04-07 21:19] felipefbs commented on #57
Posso pegar o schema-sift.md ?

[2020-04-08 00:08] thayannevls commented on #57
Posso ficar com o `deploying-to-gitlab-pages.md`?

[2020-04-08 00:13] jessescn commented on #57
@felipefbs  e @thayannevls marcado para vocês, qualquer dúvida podem mandar no nosso canal do [discord](https://discordapp.com/invite/xJWpW9U)

[2020-04-10 01:15] AntonioLeonan commented on #57
Posso ficar com o<code>v2-release-notes.md</code>?

[2020-04-11 00:14] iaurg commented on #57
Claro, marcado para você @AntonioLeonan, qualquer dúvida é só informar.

[2020-04-13 04:03] peaonunes commented on #57
Olá gostaria de traduzir `building-a-site-with-authentication.md` 😄

[2020-04-13 17:12] iaurg commented on #57
Olá Rafael, tudo certo? Marcado para você 🏃‍♂️

[2020-04-13 17:15] adeonir commented on #57
Fala pessoal, tudo certo? Marca pra mim `sourcing-from-contentful.md`.

[2020-04-13 17:54] iaurg commented on #57
E ai @adeonir, tudo tranquilo e você? Marquei o arquivo para você, boa tradução!

[2020-04-15 23:59] 7glaucio commented on #57
@iaurg @jessescn Me marquem o `working-with-themes.md ` por favor.

[2020-04-16 01:42] henry-ns commented on #57
### :bulb: **Os pedidos então temporariamente suspensos por enquanto não resolvemos os conflitos do update recente**

[2020-04-19 19:38] jessescn opened #235 "Corrigindo arquivos - URGENTE"
Com a resolução de conflitos vindo do repositório principal, alguns arquivos necessitam ter partes re-traduzidas. Com o intuito de acelerar o processo, eu estou abrindo essa issue para este propósito.

Fique livre para requisitar de 1-5 arquivos de uma vez (já que muitos possuem apenas poucas partes para traduzir.

**Caso queira ajudar, é só comentar na issue qual(s) arquivo(s) você tem interesse

[2020-04-23 21:55] #21 closed

[2020-04-24 02:22] felipefbs commented on #235
Posso pegar os arquivos  `gatsby-on-linux.md` `gatsby-on-windows.md`?

[2020-04-24 02:25] jessescn commented on #235
Opa @felipefbs, pode sim

[2020-04-25 17:58] felipefbs commented on #235
Feita a tradução do arquivo gatsby-on-linux.md  https://github.com/gatsbyjs/gatsby-pt-BR/pull/238
vou trabalhar agora no outro arquivo :)

[2020-04-27 03:15] lancaluis commented on #235
Opa! Gostaria de ajudar na tradução das docs, pensei em começar com o arquivo **themes/using-a-gatsby-theme.md** tem como?

[2020-04-27 13:43] henry-ns commented on #235
Está sim @lancaluis :) pode com começar

[2020-04-29 15:51] IsaqueIgor commented on #235
Hey! Adoraria contribuir com as traducoes, Esta liberado para pegar o **recipes.md** e winning-over-clients.md?

[2020-04-29 15:56] jessescn commented on #235
fique a vontade @IsaqueIgor, se tiver alguma dúvida sobre o processo de contribuição, recomendo ler o arquivo [CONTRIBUTING.md](https://github.com/gatsbyjs/gatsby-pt-BR/blob/master/CONTRIBUTING.md) :)

[2020-04-29 20:07] luizeboli commented on #235
Sup!

Gostaria de traduzir o arquivo **blog-and-website-contributions.md**, posso?

[2020-04-29 23:53] henry-ns commented on #235
claro @luizeboli, é seu :)

[2020-04-30 04:53] JuanVieiraPrado commented on #235
Olá, estou começando minha carreira de e eu gostaria de ajudar na tradução das docs, eu poderia traduzir o arquivo plugins.md para poder entender como funciona e adquirir conhecimento?

[2020-04-30 13:31] henry-ns commented on #235
Marcado para você @JuanVieiraPrado :D

Qualquer dúvida sobre o processo de contribuição, recomendo ler o arquivo [CONTRIBUTING.md](https://github.com/gatsbyjs/gatsby-pt-BR/blob/master/CONTRIBUTING.md)

[2020-04-30 14:02] iaurg commented on #235
Olá pessoal,

Peguei mais três arquivos para traduzir:
contributing/how-to-open-a-pull-request.md
contributing/managing-pull-requests.md
contributing/pair-programming.md

[2020-05-01 15:02] afucher commented on #235
vou traduzir o `gatsby-cli.md`

[2020-05-02 07:18] borelbruno commented on #235
Posso pegar para tradução o  `vou traduzir o gatsby-cli.md`?

[2020-05-02 07:18] borelbruno commented on #235
Posso pegar para tradução o `docs-contributions.md`?

[2020-05-02 13:30] henry-ns commented on #235
Marcado para vocês @afucher e @borelbruno :)

[2020-05-03 15:15] henry-ns commented on #235
@luizeboli, pode fazer como está lá e separar em 2

[2020-05-03 23:17] afucher commented on #235
@henry-ns abri o PR pro `gatsby-cli` #249
Posso já pegar outro? Se sim, pode ser o `setting-up-your-local-dev-environment.md`

[2020-05-03 23:46] henry-ns commented on #235
marquei para você @afucher

[2020-05-05 16:07] luizeboli commented on #235
Mandei a PR #250 para o arquivo **blog-and-website-contributions.md**.

Posso pegar o arquivo **routing.md**?

[2020-05-06 21:01] felipefbs commented on #235
routing.md e static-folder.md estão livres?

[2020-05-06 21:14] henry-ns commented on #235
@luizeboli, pode sim, marquei para você.

[2020-05-06 21:15] henry-ns commented on #235
@felipefbs, o @luizeboli pediu primeiro o `routing.md`mas, o `static-folder.md` está livre.

[2020-05-06 21:22] felipefbs commented on #235
Então me passa o  glossary.md

[2020-05-07 18:55] iaurg commented on #235
Está marcado para você o  glossary.md @felipefbs, qualquer dúvida é só avisar.

[2020-05-08 10:35] MatheusGoncalvs commented on #235
Quero pegar esses dois: building-an-e-commerce-site.md e making-your-site-accessible.md. O que vocês acham?

[2020-05-08 13:14] henry-ns commented on #235
Pode ser @MatheusGoncalvs! Marquei para você :tada:

Temos apenas um arquivo disponível agora, que é o `porting-to-gatsby.md`.

[2020-05-08 13:30] luizeboli commented on #235
@henry-ns pode marcar pra mim?

[2020-05-09 22:08] afucher commented on #235
Abri o PR para `setting-up-your-local-dev-environment.md`
Posso pegar: `porting-to-gatsby.md`? Acredito que é o último.

[2020-05-09 22:47] henry-ns commented on #235
Posso sim, @luizeboli! Marcado!

[2020-05-12 14:10] Ubiminds opened #259 "[REMOTE] Senior Frontend Engineer @Ubiminds"
We’re looking for a **Senior Frontend Engineer** to join our stellar team. **Our positions are 100% remote**, working with teams mainly based in the United States.

**What you’ll do**
- Work in a multidisciplinary team combining the art of design with the art of programming;
- Work closely with other teams to help decide which features to build and how to build them;
- Ensure the design translates

[2020-05-12 20:49] henry-ns commented on #259
This is not a repository for divulging dev vacancies like `frontendbr/vagas` or `react-brasil/vagas` for example.

I hope you understand :)

[2020-05-13 12:58] #259 closed

[2020-06-15 20:30] #235 closed

[2020-06-26 16:12] henry-ns commented on #57
@7glaucio ainda deseja o arquivo?

[2020-06-26 16:19] adeonir commented on #57
Fala @henry-ns tudo certo? Podemos voltar à ativa?
Eu tava esperando terminar o processo de sincronização.

[2020-06-26 16:22] sosolidkk commented on #57
Se já puder voltar a traduzir, gostaria desse arquivo aqui `deploying-to-aws-amplify.md`.

[2020-06-26 16:31] iaurg commented on #57
Reabrimos as traduções pessoal, o processo continua o mesmo de antes. Quaisquer dúvidas nos informem.

[2020-06-26 16:42] henry-ns commented on #57
Marcado @sosolidkk, pode começar a traduzir :)

[2020-06-26 16:43] adeonir commented on #57
Show! Vou continuar com a `sourcing-from-contentful.md` que já tava marcada pra mim.

[2020-06-26 18:37] zambo commented on #57
Posso pegar o sourcing-from-sanity.md, ok?

[2020-06-26 19:33] henry-ns commented on #57
Pode sim @zambo :D

[2020-06-28 21:57] zambo commented on #57
Preciso esperar o pull ser aceito para iniciar outra tradução?

De qualquer forma, me disponibilizo para pegar o `gatsby-internals-terminology.md` na sequência.

Aproveitando... O arquivo `gatsby-source-filesystem-programmatic-import.md` não existe no repositório, nem neste nem no oficial.

[2020-06-29 00:03] arthurbarroso commented on #57
Gostaria de traduzir [`docs/mdx/plugins.md`](https://github.com/gatsbyjs/gatsby-pt-BR/blob/master/docs/docs/mdx/plugins.md).

[2020-06-29 14:00] henry-ns commented on #57
Pode começar @arthurbarroso, qualquer duvida pode perguntar :)

[2020-06-29 16:07] zambo commented on #57
Valeu @henry-ns.

Um ponto, agora que vi que o documento não está atualizado:

![image](https://user-images.githubusercontent.com/497886/86029321-67f80180-ba09-11ea-8bb2-d09433ec917c.png)

Sigo assim mesmo, traduzindo a observação quanto as versões do Gatsby ou pego outro documento?

[2020-06-29 16:31] abnersajr commented on #57
Se eu entendi corretamente sua pergunta @zambo, caso o documento de referência esteja desatualizado, da uma olhadinha se o conteúdo da versão em Inglês estiver correto e de acordo com o que ele se propões, pode se basear na versão atualizada.

[2020-06-29 18:33] zambo commented on #57
Oi @abnersajr, no caso a versão em inglês tanto no repositório principal quanto aqui já abrem com este disclaimer de documento não atualizado. Então a questão é se eu sigo a tradução mantendo o disclaimer, ou seleciono outro arquivo para traduzir.

[2020-06-30 00:26] henry-ns commented on #57
@zambo, se quiser, você pode ajudar o pessoal do Core em escrever o arquivo e depois fazer a tradução aqui ou traduzir aqui com base no que está lá mesmo que não esteja atualizado com a versão atual do Gatsby.

[2020-06-30 11:46] RodrigoEC commented on #57
Posso pegar o  `layout-components.md`?

[2020-06-30 13:25] henry-ns commented on #57
Pode sim @RodrigoEC

[2020-07-01 21:01] pklepa commented on #57
Oi! Me disponho a traduzir `different-organization-types.md`

[2020-07-02 15:45] vinicius98s commented on #57
Opa, posso pegar o `docs/glossary/webpack.md`?

[2020-07-02 16:06] henry-ns commented on #57
Marcado para vocês @pklepa e @vinicius98s

[2020-07-04 23:58] jefferson2z commented on #57
O arquivo gatsby-image.md terminei a tradução e um dos revisores já confirmou, mas tem um tempo e não tive resposta de outro revisor la. Tem como marcar ele aqui como em revisão?

[2020-07-05 19:56] notstoe commented on #57
Oi, posso traduzir o css-libraries-and-frameworks.md ?

[2020-07-06 13:02] henry-ns commented on #57
@jessescn , @iaurg e @thayannevls poderiam da uma olhada depois?

[2020-07-06 13:03] henry-ns commented on #57
Pode sim @notstoe, marquei para você

[2020-07-10 03:42] pklepa commented on #57
Oi pessoal! Gostaria de traduzir o `babel-plugin-macros.md`, tudo bem?

[2020-07-10 22:39] thisisernesto commented on #57
Olá, posso colaborar com a tradução do `remark-plugin-tutorial.md`?

[2020-07-11 08:38] thayannevls commented on #57
Podem sim @pklepa e @thisisernesto , acabei de atribuir vocês :smile: obrigada pela contribuição, qualquer dúvidas só chamar por aqui ou abrir uma nova issue.

[2020-07-17 19:12] luizeboli commented on #57
Boa tarde galerinha..

Posso pegar o arquivo `theme-ui.md`?

[2020-07-17 19:16] luizeboli commented on #57
Boa tarde galerinha,

Marquei o arquivo `theme-ui.md` pra mim :)

[2020-07-17 19:27] lancaluis commented on #57
Salve salve!

Peguei o `markdown-syntax.md`

[2020-07-17 19:33] henry-ns commented on #57
@lancaluis você tinha marcado errado, mas já corrigi para você.

[2020-07-17 19:42] lancaluis commented on #57
Eita hehe obrigado!

[2020-07-17 20:19] OfficialMarinho commented on #57
Oi, pessoal!

Me responsabilizo em traduzir o ``local-https.md``.

[2020-07-17 21:55] luizeboli commented on #57
Pessoal,

Mandei o PR #273 pro `theme-ui.md`.

Marquei o arquivo `sourcing-from-graphcms.md` pra mim, pra fechar aquele gap 👀  🤘🏻

[2020-07-17 23:51] OfficialMarinho commented on #57
@henry-ns Já abri e finalizei a [PR](https://github.com/gatsbyjs/gatsby-pt-BR/pull/274). Espero feedback na revisão para poder contribuir mais.

[2020-07-18 00:19] lancaluis commented on #57
Galera, mandei o PR #275 referente ao `markdown-syntax.md`

Marquei o arquivo `graphql.md` para continuar a tradução

[2020-07-18 05:29] lancaluis commented on #57
Opa! Mandei mais um PR, dessa vez é o #276 referente ao `graphql.md`

Marquei o arquivo `working-with-starters.md` para continuar a tradução

[2020-07-18 16:06] luizeboli commented on #57
Vai dormir chupex 😂😂😂

[2020-07-18 18:49] atarrisse commented on #57
Olá olá, eu gostaria de contribuir com o `gatsby-link.md` se possível

[2020-07-18 23:59] Lucas-Dalamarta commented on #57
Olá galera,

Eu poderia contribuir com o `working-with-images-in-markdown.md` ?

[2020-07-19 13:51] luizeboli commented on #57
@atarrisse e @Lucas-Dalamarta , marquei pra vocês. Se tiverem qualquer dúvidas, estamos aqui  🤟

[2020-07-19 21:28] OfficialMarinho commented on #57
Estarei pegando o `creating-a-starter` para traduzir.

[2020-07-20 14:11] luizeboli commented on #57
Mandei o #277 e marquei o arquivo `docs/recipes/deploying-your-site.md` pra mim 🤘🏻

[2020-07-20 14:36] lancaluis commented on #57
Opa! Mandei mais um PR, dessa vez é o #278  referente ao working-with-starters.md

Marquei o arquivo building-themes.md para continuar a tradução

[2020-07-20 15:08] luizeboli commented on #57
Mandei a PR #279 e marquei o arquivo `docs/recipes/pages-layouts.md` pra mim 🤘🏻

[2020-07-20 19:22] alessandraburckhalter commented on #57
Olá, posso colaborar com a tradução do adding-search-with-js-search.md ? Obrigada.

[2020-07-20 19:44] lancaluis commented on #57
Olá @alessandraburckhalter ! Marquei pra você :) Enjoy!

[2020-07-21 06:45] Lucas-Dalamarta commented on #57
Boa noite!

Mandei a PR #282 referente ao `working-with-images-in-markdown.md`.

[2020-07-24 20:22] RodrigoEC commented on #57
Posso traduzir o "deploying-to-s3-cloudfront.md"?

[2020-07-24 20:24] luizeboli commented on #57
Marquei pra ti 🎉

[2020-07-25 01:09] gabsoares11 commented on #57
Oi, posso ficar com o "sourcing-from-agilitycms.md"? :)

[2020-07-25 23:48] henry-ns commented on #57
Pode sim @gabsoares11 :D

[2020-07-26 18:39] araujogui commented on #57
Olá, posso traduzir `audit-with-lighthouse.md`?

[2020-07-26 22:25] lancaluis commented on #57
Opa! Já marquei pra você. Qualquer dúvida é só avisar.

[2020-07-27 05:13] vyk1 commented on #57
Olá, posso traduzir o `graphql-api.md`?

[2020-07-28 00:12] iaurg commented on #57
Olá @vyk1, claro, marquei para você. Se tiver qualquer dúvida é só falar.

[2020-08-02 19:39] rosariopfernandes commented on #57
Marquei o `creating-prefixed-404-pages-for-different-languages.md` para mim.

[2020-08-04 08:00] benyAlves commented on #57
Olá, posso traduzir o deploying-to-firebase.md?

[2020-08-04 21:42] rosariopfernandes commented on #57
@benyAlves Parece que esse arquivo não foi incluído nesta batch.

@jessescn O fato de não terem incluído foi intencional? Ele será adicionado numa próxima batch? Lembrar que o arquivo faz parte do `docs/`.

[2020-08-04 22:20] benyAlves commented on #57
@rosariopfernandes obrigado pela observação, vou pedir um outro arquivo.

[2020-08-04 22:40] benyAlves commented on #57
Olá, posso traduzir o `progressive-web-app.md`?

[2020-08-04 22:42] rosariopfernandes commented on #57
@benyAlves marquei para você. Força!

[2020-08-05 23:00] araujogui commented on #57
Olá! Posso traduzir `preparing-for-site-launch.md`?

[2020-08-05 23:54] rosariopfernandes commented on #57
@araujogui Marquei para você! :tada:

[2020-08-06 14:39] benyAlves commented on #57
Mandei o PR [#291](https://github.com/gatsbyjs/gatsby-pt-BR/pull/291) referente ao progressive-web-app.md

[2020-08-16 00:58] atarrisse commented on #57
Olá, eu gostaria de traduzir o `querying-data.md` por favor.

[2020-08-16 01:02] thayannevls commented on #57
Marquei pra você @atarrisse 🚀

[2020-08-16 23:14] RodrigoEC commented on #57
Posso pegar o `working-with-themes.md`? 😁

[2020-08-19 05:38] thayannevls commented on #57
Pronto @RodrigoEC 🚀

[2020-08-24 17:05] sosolidkk commented on #57
Posso pegar `api-proxy.md`?

[2020-08-24 17:09] Lucas-Dalamarta commented on #57
Posso traduzir o `building-an-image-heavy-site.md` ?

[2020-08-24 17:13] Lucas-Dalamarta commented on #57
Posso traduzir o `sourcing-from-netlify-cms.md` ?

[2020-08-24 17:14] Lucas-Dalamarta commented on #57
Posso traduzir o `sourcing-from-netlify-cms.md` ?

[2020-08-28 14:42] pklepa commented on #57
Posso pegar o `add-a-service-worker.md`?

[2020-08-31 19:21] thayannevls commented on #57
@sosolidkk @Lucas-Dalamarta @pklepa Marquei pra vocês :rocket: Quaisquer problemas só falar por aqui

[2020-09-01 00:45] fillipeags commented on #57
Posso pegar o asset-prefix.md ?

[2020-09-16 14:51] ThWember commented on #57
Olá! Posso traduzir o styling-css.md?

[2020-09-20 02:41] AngeloBonini commented on #57
Oi, tudo bem? Posso traduzir o  how-plugins-apis-are-run.md?

[2020-09-30 02:42] alessandraburckhalter commented on #57
Oii. Posso ficar com o node-tracking.md? Thanks.

[2020-10-02 12:13] mauriciomutte commented on #57
Olá! Posso pegar o `gatsby-for-agencies.md`?

[2020-10-04 22:50] aintluks commented on #57
Olá. Posso ficar com o `creating-a-local-plugin.md`?

[2020-10-08 14:21] iaurg commented on #57
Pessoal, estou vendo com o time do Gatsby para eles ajustarem meus privilégios no repositório para que eu possa marcar as traduções para vocês. Eles mudaram algumas coisas nas últimas atualizações e não consigo mais editar/aprovar itens :c

[2020-10-08 14:26] adeonir commented on #57
Boa @iaurg ... eu ando meio enrolado no trampo, mas quero concluir a tradução que eu tenho pra fazer e contribuir mais.

[2020-10-09 16:43] henriquepw commented on #57
Marquei para todos que pediram. 🚀

@fillipeags @ThWember @AngeloBonini @alessandraburckhalter @mauriciomutte @aintluks

[2020-11-26 01:19] Wil-g2 commented on #57
Posso ficar com `production-app.md` ?

[2021-02-23 19:26] pedrohyvo commented on #57
hey @jessescn @iaurg @henry-ns @thayannevls, would you like to contribute for another open source project with translation  too? let me know if you guys are interested and I can share the link :)

[2021-03-23 14:13] fbandeirac commented on #57
Olá, posso pegar o api-specification.md ?

[2021-08-06 23:05] Nerd00F commented on #57
Vou pegar a ``client-only-routes-and-user-authentication.md`` ok?

[2021-10-07 22:30] vasfvitor opened #305 ""Este item está na lixeira do proprietário.""
Eu tava lendo aqui:

https://github.com/gatsbyjs/gatsby-pt-BR/blob/master/CONTRIBUTING.md

E no Glossário tem o link para uma planilha do Google:

https://docs.google.com/spreadsheets/d/1TLztI-jrPslCt0fgk4B9tGnhhS_7JQZJfMql1ePsIZo/edit

Quando abro aparece esse aviso:
![image](https://user-images.githubusercontent.com/61759797/136470857-43030187-cdc3-423d-9d95-3d53dfe1590f.png)

"O arquivo esta na

[2022-02-22 20:48] rslfilho commented on #57
Posso pegar a `docs/themes/conventions.md` ?

[2022-03-25 17:11] adeonir commented on #57
Hey @iaurg, esse repo aqui ainda está sendo atualizado? Gostaria de voltar a contribuir nas traduções.

[2022-03-25 17:15] pedrohyvo commented on #57
@adeonir @rslfilho estamos precisando de contribuidores para esse repo de tradução também - https://github.com/pedrohyvo/cypress-docs-pt-br/issues/22